.total {
    text-align: center;
    background-color: #114e60;
    color: #fff;
    margin: auto;
    max-width: 700px;
    max-height: 700px;
}
.result-icon {
    color: #9ede73;
    font-size: 100px;
}

.back {
    margin: 30px;
    width: 100%;
}

.result-section {
    display: flex;
    justify-content: center;
}

.back-to-home, .back-to-play {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ff8882;
    padding: 10px 25px;
    color: #fff;
}

.point {
    color: #9ede73;
}